/* this file will be extracted to main dist folder and is imported in index.html */
/* This file is for setting global styles  */

html,
body {
  margin: 0;
  padding: 0;
}

html{
  background: url('https://images.unsplash.com/reserve/Hxev8VTsTuOJ27thHQdK_DSC_0068.JPG?dpr=1&auto=format&fit=crop&w=1500&h=1004&q=80&cs=tinysrgb&crop=&bg=') center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
}